<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">    <title>Account-Setting</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="./Cookies.js"></script>

    <script>

        function changeSubtitle(information){
            var sidebars = document.getElementsByClassName("sidebar");
            var x = document.getElementsByClassName(information);
            removeClass(sidebars,"picked");
            addClass(x,"picked")
            var new_var = "New" + " " + information;
            document.getElementById("new_label").innerHTML = new_var;
            document.getElementById("new_input").name = new_var;
            document.getElementById("new_input").value = new_var;
        }

        function addClass(elements, className) {
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                if (element.classList) {
                    element.classList.add(className);
                } else {
                    element.className += ' ' + className;
                }
            }
        }
        function removeClass(elements, className) {
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                if (element.classList) {
                    element.classList.remove(className);
                } else {
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                }
            }
        }
    </script>
    <style>
        a.active{

        }
    </style>
</head>

<body>
<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account Setting</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a href="My_post.html">My post</a></li>
        <li><a href="#" class = "active">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li><a class = "sidebar Email" onclick=changeSubtitle("Email")>Email</a> </li>
        <li><a class = "sidebar First_name" onclick = changeSubtitle("First_name")>First Name</a></li>
        <li><a class = "sidebar Last_name" onclick = changeSubtitle("Last_name")>Last Name</a></li>
        <li><a class = "sidebar Phone_number" onclick = changeSubtitle("Phone_number")>Phone Number</a></li>
        <li><a class = "sidebar Address" onclick = changeSubtitle("Address")>Address</a></li>
    </ul>
    <label id = "new_label"for="new_input"></label>
    <input id = "new_input" name="" onfocus="if (this.value=='New Email'|| this.value == 'New First_name' ||
                                                    this.value=='New Phone_number' || this.value == 'New Address'
                                                    || this.value == 'New Last_name')  this.value='';">
    <br>
    <button id = "button" type="button" onclick="changeInformation()">Confirm to change</button>
</section>

<script>
    var id = getCookie("username");
    function changeInformation(){
        var user = {};
        var value = document.getElementById("new_input").value;
        var name = document.getElementById("new_input").name;
        console.log(value);
        console.log(name);
        if (name == 'New Email'){
            user.email = value;
        }else if(name == 'New First_name'){
            user.firstname = value;
        }else if(name == 'New Last_name'){
            user.lastname = value;
        }else if(name == 'New Address'){
            user.address = value;
        }else if(name == 'New Phone_number'){
            user.phone = value;
        }

        var json = JSON.stringify(user);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", 'api/id/'+id, true);
        xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
        xhr.onload = function () {
            var users = JSON.parse(xhr.responseText);
            if (xhr.readyState == 4 && xhr.status == "200") {
                console.table(users);
            } else {
                console.error(users);
            }
        }
        xhr.send(json);
        alert('You successfully changed your profile information')
    }
</script>
</body>
</html>