<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
</head>

<body>
<script src = nav.js></script>
<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li ><a href="#" class = "active">Personal Information</a></li>
        <li><a>Donation</a></li>
        <li><a>Pick up Service</a><li>
        <li ><a href="Account-setting.html">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li>Email: AJames@gmail.com</li>
        <li>First Name: James</li>
        <li>Last Name: Aaron</li>
        <li>Phone Number: 0451 xxxx xxxx</li>
        <li>Address: </li>
    </ul>
</section>


</body>
</html>