<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account-Setting</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script>
        function changeSubtitle(information){
            var sidebars = document.getElementsByClassName("sidebar");
            var x = document.getElementsByClassName(information);
            removeClass(sidebars,"picked");
            addClass(x,"picked")
            var new_var = "New" + " " + information;
            document.getElementById("new_label").innerHTML = new_var;
            document.getElementsById("new_input").name = new_var;
            document.getElementsById("new_input").value = new_var;
        }

        function addClass(elements, className) {
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                if (element.classList) {
                    element.classList.add(className);
                } else {
                    element.className += ' ' + className;
                }
            }
        }
        function removeClass(elements, className) {
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                if (element.classList) {
                    element.classList.remove(className);
                } else {
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
                }
            }
        }
    </script>
    <style>
        a.active{

        }
    </style>
</head>

<body>
<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account Setting</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a>Donation</a></li>
        <li><a>Pick up Service</a><li>
        <li><a href="#" class = "active">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li><a class = "sidebar Email" onclick=changeSubtitle("Email")>Email</a> </li>
        <li><a class = "sidebar Name" onclick = changeSubtitle("Name")>Name</a></li>
        <li><a class = "sidebar Phone_number" onclick = changeSubtitle("Phone_number")>Phone Number</a></li>
        <li><a class = "sidebar Address" onclick = changeSubtitle("Address")>Address</a></li>
    </ul>
    <label id = "new_label"for="new_input"></label>
    <input id = "new_input" name="" value="" >
    <br>
    <button id = "button" type="button" onclick="alert('Update success!')">Confirm to change</button>
</section>




</body>
</html>