<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account-Setting</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
</head>

<body>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1>
</div>

<nav>
    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="./printer.html">Printer</a></dd>
            </dl>
        </li>
        <li><a href="#">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="#">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="Donation.html">Give it away</a></dd>
                <dd><a href="Where.html">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account Setting</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a>Donation</a></li>
        <li><a>Pick up Service</a><li>
        <li><a href="#" class = "active">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li><a href = "Account-setting.html">Email</a> </li>
        <li><a href="Account-setting-name.html">Name</a></li>
        <li><a href="Account-setting-number.html">Phone Number</a></li>
        <li><a class = "active">Address</a></li>
    </ul>
    <label for="New Address">Change Address:</label>
    <input id = "New Address" name="New Address" value="New Address" >
    <br>
    <button type="button" onclick="alert('Update success!')">Confirm to change</button>
</section>




</body>
</html>