<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account-Setting</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
</head>

<body>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1>
</div>

<nav>
    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="#">Printer</a></dd>
            </dl>
        </li>
        <li><a href="./why.html">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="#">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="#">Resell</a></dd>
                <dd><a href="#">Donate</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account Setting</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a>Donation</a></li>
        <li><a>Pick up Service</a><li>
        <li><a href="#" class = "active">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li><a class="active">Email</a> </li>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Address</li>
    </ul>
    <label for="New Email">Change Email:</label>
    <input id = "New Email" name="New Email" value="New email address" >
    <br>
    <button type="button" onclick="alert('Update success!')">Confirm to change</button>
</section>




</body>
</html>