<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account-Setting</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
</head>

<body>
<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>User-Account Setting</h1>
    </div>
</header>

<aside class = leftcolumn>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a>Donation</a></li>
        <li><a>Pick up Service</a><li>
        <li><a href="#" class = "active">Setting</a></li>
    </ul>
</aside>

<section class = rightcolumn>
    <ul>
        <li><a href="Account-setting.html">Email</a> </li>
        <li><a class = "active">Name</a></li>
        <li><a href="Account-setting-number.html">Phone Number</a></li>
        <li><a href="Account-setting-address.html">Address</a></li>
    </ul>
    <label for="New First Name">First Name:</label>
    <input id = "New First Name" name="New First Name" value="New First Name" >
    <br>

    <label for="New Second Name">Second Name:</label>
    <input id = "New Second Name" name="New Second Name" value = 'New Second Name'>
    <br>
    <button type="button" onclick="alert('Update success!')">Confirm to change</button>
</section>
</body>
</html>