<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a bin</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media="screen">
    <script src=../models/Bins.js></script>

    <script>

        //Called once google api loads
        function createGeocoder() {
            geocoder = new google.maps.Geocoder()
        }

        function submitNewBin() {


            //Get user input
            var input = document.getElementById("address")
            var address = input.value

            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    loc = [results[0].geometry.location.lat(), results[0].geometry.location.lng()]

                    //Add to database
                    Bins.addBin(loc)

                    //Return to where page
                    window.location = "/Where.html"

                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAj832WWA8O7gZc0VPIuZ7Mv62ecnbzpo&callback=createGeocoder"></script>

</head>
<body>

<script src=nav.js></script>


<input id=address type="text">
<button type="button" onclick=submitNewBin()>Add</button>


</body>

</html>
