<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""><meta name="author" content="">
    <title>Donations</title>

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../styles/style.css">
    <link rel = "stylesheet" href="../styles/where.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script src="./User.js"></script>
    <script src="./Cookies.js"></script>
    <script src = "../models/Donations.js"></script>
    <script>

        Donations.loadAll(function(){
            var list = document.getElementById("donations")
            Donations.list.forEach(function(device){
                console.log(3)
                var item = document.createElement("li")
                item.innerText = device.category
                list.appendChild(item)
            })
        })

    </script>
</head>

<body>
<script src = nav.js></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>Donations</h1>
    </div>
</header>

<ul id = donations>


</ul>

</body></html>