<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Donation.css">
    <link rel = "stylesheet" href="../styles/where.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <style>
        h3{
            margin-top: 10px;
        }
        .row{
            font-size:25px;
        }
    </style>
</head>
<body>
<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>Give it away</h1>
    <span>
    Donate your old devices for those people who need them more
    </span>
    </div>
</header>

<div class="row">
    <span>Sometimes it’s a waste to throw things away. Reusing items is a great way to reduce your environmental
        impact, save money and reduce the amount of material that you send to landfill.</span>
    <br>
    <span>If your items are still in good condition, you could: </span>
    <br>
    <ul>
        <li>reuse them yourself</li>
        <li>give them to friends </li>
        <li>donate them to charity </li>
        <li>give them away through a swap event or online </li>
        <li>sell them. </li>
    </ul>
    <br>
    <span>The websites and organisations listed below will help you to give away your items for reuse and pick up
        second-hand items in lieu of new ones. </span>
    <br>
    <h3>Online: give away </h3>
    <ul class="inside">
        <li><a href="https://au.ziilch.com/">Ziilch</a></li>
        <li><a href="https://my.freecycle.org/">FreeCycling</a></li>
        <li><a href="https://www.ozrecycle.com/">OzRecycle</a></li>
    </ul>
    <br>
    <h3>Online: give away, swap, sell or buy </h3>
    <ul class = "inside">
        <li><a href=https://www.gumtree.com.au/>Gumtree</a></li>
        <li><a href=http://www.quicksales.com.au/>Quicksales</a></li>
        <li><a href=http://www.swapace.com/>SwapAce</a></li>
    </ul>
    <br>
    <h3>Donate computers, fridges </h3>
    <ul class = "inside">
        <li><a href=http://www.computerbank.org.au/>ComputerBank</a></li>
        <li><a href=http://www.phoenixfridges.org.au/>PhoenixFridge</a></li>
    </ul>
    <br>
    <h3>Other ways to sell your items</h3>
    <ul>
        <li>holding a garage sale</li>
        <li>holding an online auction on <a href = https://www.ebay.com.au/>Ebay</a>, Trading Post, Gumtree or SwapAce</li>
        <li>having a stall at a local market</li>
        <li>posting your items for sale in community newspapers or noticeboards</li>
        <li>placing a classified advertisement in the Trading Post or other newspapers.</li>
    </ul>

</div>

</body>
</html>
