<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script>
        function showPopup(buttonId){
            document.getElementById(buttonId).setAttribute("style", "visibility:visible")
        }
        function hidePopup(buttonId){
            document.getElementById(buttonId).setAttribute("style", "visibility:hidden")
        }

    </script>
</head>

<script src = nav.js></script>

<!--<header id="head" class="secondary">

<header id="head" class="secondary">
    <div class="container">
        <h1>How to recycle</h1>
    </div>
</header>-->

<body class = page>

<img src=../assets/images/E-waste.jpg>
<div class = "middle halfPage">
    <h1>Join us to be "The World Saver"</h1>
    <br>
    <span>· Do you have any old electronic devices that you can't get rid of?<br>
        · Have you ever thought about the worth of your old devices?<br>
        · Do you know the dangers of discarding e-waste (old electronic devices) in landfills?<br>
        · We can help!<br></span>
    <br>
    <span><b>E-waste recycling can include your old IT equipment like computers, printers and phones. Not to mention your old fax machines and photocopiers, TVs and DVD players. Instead of throwing them into landfill, let help you learn to reduce, reuse or recycle.</b></span>
    <br><br>
    <span class = largeText>(Press the three buttons to find out how to deal with your e-waste)</span>
</div>

<div class = halfPage>
<div id = reduce class = "red myHidden popup">
    <button class = myBigClose onclick = hidePopup("reduce")></button>
    <span class = re_word>Reduce your generation of e-waste through smart procurement and good maintenance.
    <br> Find out the benefits of reducing your e-waste here <a href = "./why.html">Why</a>
    <br> Find out more about your electronic devices here <a href = "./What.html"> What's in your devices</a>

    </span>
</div>
<div id = reuse class = "orange myHidden popup">
    <button class = myBigClose onclick = hidePopup('reuse')></button>
    <span class = re_word>1. Resell them
        <br>Find a friend or family member that needs your electronic device
        <br>2. Donate
        <br>Create an account and list your old devices for someone to pick up at <a href = "./Donation.html">Donations</a>
        <br>Pick up someone else's old devices at <a href = "./donationSearch.html">Free Devices</a>
 </span>
</div>
<div id = recycle class = "green myHidden popup">
    <button class = myBigClose onclick = hidePopup('recycle')></button>
    <span class = re_word>Want to discard  your old small  electronic devices?<br>Find a local e-waste been in <a href = ./Where.html>Where</a><br>Want to donate electrical devices?<br>Find a solution at <a href = ./Donation.html>Donations</a>.
</span>

</div>


<div>
    <div class="small centre">
        <button class=how onclick = showPopup("reuse")>Reuse</button>
    </div>

    <div class="large centre">
        <button class="left how"onclick = showPopup("reduce")>Reduce</button>
        <img src=../assets/images/Picture5.png>
        <button class="right how" onclick = showPopup("recycle")>Recycle</button>
    </div>


</div>
</div>
</body>
</html>
