<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/how.css">
    <script>
        function showPopup(buttonId){
            document.getElementById(buttonId).setAttribute("style", "visibility:visible")
        }
        function hidePopup(buttonId){
            document.getElementById(buttonId).setAttribute("style", "visibility:hidden")
        }

    </script>
</head>

<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1>
</div>

<script src = layout.js></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>How to recycle</h1>
    </div>
</header>

<body class = page>

<div id = reduce class = "orange hidden popup">
    <button class = close onclick = hidePopup("reduce")></button>
    <span class = re_word>Reduce your generation of e-waste through smart procurement and good maintenance. </span>
</div>
<div id = reuse class = "orange hidden popup">
    <button class = close onclick = hidePopup('reuse')></button>
    <span class = re_word>Reuse still functioning electronic equipment by donating or selling it to someone who can still use it. </span>
</div>
<div id = recycle class = "orange hidden popup">
    <button class = close onclick = hidePopup('recycle')></button>
    <span class = re_word>Recycle those products that cannot be repaired. To find an organization that will manage your electronics</span>

</div>


<div>
    <div class="small centre">
        <button class=how onclick = showPopup("reuse")>Reuse</button>
    </div>

    <div class="large centre">
        <button class=how onclick = showPopup("reduce")>Reduce</button>
        <img src=../assets/images/Picture5.png>
        <button class=how onclick = showPopup("recycle")>Recycle</button>
    </div>


    </div>
</body>
</html>
