<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""><meta name="author" content="">

    <title>Home</title>

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1></a>
</div>

<nav>
    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="./printer.html">Printer</a></dd>
            </dl>
        </li>
        <li><a href="./why.html">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="index.html">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="Donation.html">Give it away</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>Login</h1>
    </div>
</header>

<fieldset>
    <table>
        <tr height="170">
            <td width="570px"> </td>
            <td> </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>

                        <tr>
                            <td>Email：</td>
                            <td><input type="text" name="username" value="Your name" size="20" maxlength="20"
                                       onfocus="if (this.value=='Your name')  this.value='';"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Password：</td>
                            <td><input type="password" name="password" value="Your password" size="20" maxlength="20"
                                       onfocus="if (this.value=='Your password')  this.value='';"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><input type="submit" name="login" value="Login" onClick="location.href='Account.html'"/></td>
                            <td><input type="button" name="button" value="Register"></td>
                        </tr>
                </table>
            </td>

            <td></td>
            <td></td>
    </table>
</fieldset>
</form>
<script language="javascript">
    function validateLogin(){
        var sUserName = document.frmLogin.username.value ;
        var sPassword = document.frmLogin.password.value ;
        var sinputCode =document.frmLogin.inputcode.value ;
        if ((sUserName =="") || (sUserName=="Your name")){
            alert("Please enter your email!");
            return false ;
        }

        if ((sPassword =="") || (sPassword=="Your password")){
            alert("Please enter your password!");
            return false ;
        }
    }
</script>


</body>
</html>
