<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post my e-waste</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./Cookies.js"></script>
    <style>
        .midcolumn {
            float: left;
            width: 42%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        .leftcolumn {
            float: left;
            width: 17%;
        }

        .rightcolumn {
            float: left;
            padding-left:20px;
            width: 41%;
        }
    </style>
</head>
<body>
<script src="./nav.js"></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>Post my devices</h1>
        <span>
            There may be some people would interested in your old devices.
        </span>
    </div>
</header>

<div class = "leftcolumn">
    <aside>
    <ul>
        <li><a href="Account.html">Personal Information</a></li>
        <li><a href="" class = "active">My post</a></li>
        <li><a href="Account-setting.html">Setting</a></li>
    </ul>
    </aside>
</div>

<div class = 'midcolumn'>
    <div class="introduce">
        <ul>
            <li>
                <span>Login as</span>
                <span id="useremail">Test</span>
            </li>
        </ul>
    </div>



    <div class="posts">

    </div>
</div>

<div class = 'rightcolumn'>
    <input type="button" class= "btn-outline-primary" value="Create New Post" onclick="window.open('postForm.html')">

</div>

<script>
    var id = getCookie("username");
    var email = getCookie("useremail");
    console.log("useremail", email);
    console.log("userid", id);
    document.getElementById("useremail").innerHTML = email;

    var descrite = ['brand', 'category', 'name', 'age', 'description'];

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            data = this.responseText;
            console.log(data);
            data = JSON.parse(data);
            console.log(data);
            for (var i = 0; i < data.length; i++){
                var unitLink = document.createElement("ul");
                var count = document.createElement('li');
                var number = document.createTextNode("My post"+(i+1));
                count.appendChild(number);
                unitLink.appendChild(count);

                console.log(descrite.length);
                var information = data[i];
                for (var j = 0; j < descrite.length; j++){
                    console.log(descrite[j]);
                    var type = descrite[j]
                    console.log(information[type]);
                    var para = document.createElement("li");
                    var node = document.createTextNode(capitalizeFirstLetter(type)+": "+information[type]);
                    para.appendChild(node);
                    unitLink.appendChild(para);
                }

                var element = document.getElementsByClassName("introduce")[0];
                element.appendChild(unitLink);
                console.log(data[i]);
            }
        }
    };

    xhttp.open("GET", "/device/email/"+email, true);
    xhttp.send();

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
</script>

</body>
</html>