<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What to e-recycling</title>
    <link rel = "stylesheet" href="../styles/style.css">
    <link rel = "stylesheet" href="../styles/what.css">
</head>

<body>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1></a>
</div>

<nav>

    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">Phones</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="#">Printer</a></dd>
            </dl>
        </li>
        <li><a href="#">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="#">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="#">Resell</a></dd>
                <dd><a href="#">Donate</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>What</h1>
    </div>
</header>

<div class="row">

    <div class ="leftcolumn">
        <aside>
            <ul>
                <li><a href="./What.html">Computer</a></li>
                <li><a href="./Phones.html">Phones</a></li>
                <li><a href="#">Printer</a></li>
            </ul>
        </aside>
    </div>

    <div class="midcolumn">
        <div class = "inline">
            <img id = "phone" class = "phone" src="../assets/images/Smartphone.png">
        </div>
        <div class = "inline">
            <img id = "camera" class = "component" src="../assets/images/phone-camera.jpg">
            <img id = "circuit-board" class = "component"src="../assets/images/phone-print-circuit-board.jpg">
            <img id = "screen" class = "component"src="../assets/images/phone-screen.jpg">
        </div>
    </div>


    <div>
        <h1>Discription</h1>
        <span>

        </span>
        <h1>Value</h1>
        <span>

        </span>
        <h1>Hazardous</h1>
        <span>

        </span>
    </div>

</div>

</body>
</html>
