<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post my e-waste</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script src="./Cookies.js"></script>
</head>
<body>
<script src="./nav.js"></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>Post my devices</h1>
        <span>
            There may be some people would interested in your old devices.
        </span>
    </div>
</header>

<div class = "leftcolumn">
    <aside>
        <ul>
            <li><a href="Account.html">Personal Information</a></li>
            <li><a href="" class = "active">My post</a></li>
            <li><a href="Account-setting.html">Setting</a></li>
        </ul>
    </aside>
</div>

<div class = 'rightcolumn'>
    <form action="table.html" method="post" target="_blank">
        Name of Device: <input type="text" name="deviceName" value="" size="20" maxlength="40"/><br/><br>
        Brand: <input type="text" name="deviceBrand" value="" size="20" maxlength="40"/><br/><br>
        Age: <input type="text" name="deviceAge" value="" size="20" maxlength="40"/><br/><br>
        Description: <br><td><textarea name="description" cols="50" rows="4"   style="OVERFLOW:   hidden"></textarea></td><br/><br>
        Images: <input type="file" name="imgfile"><br>
        <input type="submit" value="submit" class= "btn-outline-primary">
    </form>
</div>
</body>
</html>