<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post my e-waste</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/Account.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script src="./Cookies.js"></script>
</head>
<body>
<script src="./nav.js"></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>Post my devices</h1>
        <span>
            There may be some people would interested in your old devices.
        </span>
    </div>
</header>

<div class = "leftcolumn">
    <aside>
        <ul>
            <li><a href="Account.html">Personal Information</a></li>
            <li><a href="" class = "active">My post</a></li>
            <li><a href="Account-setting.html">Setting</a></li>
        </ul>
    </aside>
</div>

<div class = 'rightcolumn'>
    <form id="myform" action="table.html" method="post" target="_blank">
        Category: <input type="text" name="deviceCate" class="deviceCate" size="20" maxlength="40"/><br/><br>
        Name of Device: <input type="text" name="deviceName" class="deviceName" size="20" maxlength="40"/><br/><br>
        Brand: <input type="text" name="deviceBrand" class="deviceBrand" size="20" maxlength="40"/><br/><br>
        Age: <input type="text" name="deviceAge" class="deviceAge" size="20" maxlength="40"/><br/><br>
        Description: <br><td><textarea name="description" class="deviceDes" cols="50" rows="4"   style="OVERFLOW:   hidden"></textarea></td><br/><br>
        ImagesUrl: <input type="text" name="imgfile" class="deviceImg"><br>
        <input type="button" value="submit" class= "btn-outline-primary" id="mybutton" onclick="postDevice()"/>
    </form>
</div>
</body>
</html>


<script>
    var useremail = getCookie("useremail");
    function postDevice() {
        var device = {};
        device.owner = useremail;
        device.category = document.getElementsByClassName("deviceCate")[0].value;

        device.name = document.getElementsByClassName("deviceName")[0].value;
        console.log(device.name);
        device.brand = document.getElementsByClassName("deviceBrand")[0].value;
        console.log(device.brand);
        device.age = document.getElementsByClassName("deviceAge")[0].value;
        console.log(device.age);
        device.description = document.getElementsByClassName("deviceDes")[0].value;
        console.log(device.description);
        device.imageurl = document.getElementsByClassName("deviceImg")[0].value;
        console.log(device.image);

        var xhttp = new XMLHttpRequest();
        var json = JSON.stringify(device);
        console.log("json=",json);
        xhttp.open("POST", "/api/device", true);
        xhttp.setRequestHeader('Content-type','application/json; charset=utf-8');
        xhttp.onload = function () {
            var devices = JSON.parse(xhttp.responseText);
            console.log("device",devices);
            if (xhttp.readyState == 4 && xhttp.status == "200") {
                console.table(devices);
                alert('The form has been posted successfully.');
            } else {
                console.log(xhttp.readyState,xhttp.status);
                console.error(devices);
            }
        };
        xhttp.send(json);

    }
</script>