<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What to e-recycling</title>
    <link rel = "stylesheet" href="../styles/style.css">
    <link rel = "stylesheet" href="../styles/what.css">
</head>

<body>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1>
</div>

<nav>

    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="./printer.html">Printer</a></dd>
            </dl>
        </li>
        <li><a href="./why.html">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="index.html">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="Donation.html">Give it away</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>What</h1>
    </div>
</header>

<div class="row">

    <div class ="leftcolumn">
        <aside>
            <ul>
                <li><a href="./What.html">Computer</a></li>
                <li><a href="./Phones.html">Phones</a></li>
                <li><a href="./printer.html">Printer</a></li>
            </ul>
        </aside>
    </div>

    <div class="midcolumn">
        <div class = "inline">
            <img id = "printer" class = "printer" src="../assets/images/printer1.jpg">
        </div>
        <div class = "inline">
            <img id = "ink" class = "component" src="../assets/images/printer2.jpeg">
            <img id = "toner" class = "component"src="../assets/images/printer3.jpg">
        </div>
    </div>


    <div class = rightcolumn>
        <div class = "card">
            <h1>Main Components</h1>
            <span>
                Toner cartridges, ink cartridges
             </span>
        </div>
        <div class="card">
            <h1>Description</h1>
            <span>
                <p>The primary ingredients in most printer inks are water, ethylene glycol and alcohol. Printer ink is about as safe as dish washing soap. Drinking it can make you sick, but it is not life threatening. If you have questions about the toxicity of a particular brand of ink, all companies publish Material Safety Data Sheets for their products. These are usually available on their websites and they will tell you what the ink contains. Inks used in commercial printing processes however, may contain toxic metals.</p>
                <br>
                <p>Laser printers use toner, a powdery substance made of electrostatically sensitive plastic particles and pigment. Some toners also contain small amounts of iron. Like printer ink, toner is generally considered non-toxic, though it is certainly not edible. As with inkjet inks, laser toner ingredients vary by manufacturer. Check the published Material Safety Data Sheets for specifics. While the toner itself may not be toxic, the printing process, which involves melting the toner onto the page can release ultra-fine particles made of volatile organic-chemical substances (VOCs). While VOCs, which are often present in paints, cleaning supplies, glues and pesticides can be toxic, laser printers emit them at very low levels.</p>
            </span>
        </div>

        <div class = "card">
            <h1>Hazardous</h1>
            <span>
                There are many adverse effects of just throwing away an old ink or toner cartridge as the volatile organic compounds, and heavy metals present will pollute the soil and water when they reach landfills.
            </span>
        </div>
    </div>

</div>

</body>
</html>