<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protect Yourself E-Recycling</title>
    <link rel = "stylesheet" href="../styles/style.css">
</head>
<body>


<nav>
    <div class="navbar-header">
        <!-- Button for smallest screens -->
        <a class="navbar-brand" href="index.html">
            <h1>E-RECYCLING</h1></a>
    </div>

    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="#">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Computer</a></dd>
                <dd><a href="#">Phone</a></dd>
                <dd><a href="#">Printer</a></dd>
            </dl>
        </li>
        <li><a href="#">Why</a></li>
        <li>
            <a href="#">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="#">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="#">Resell</a></dd>
                <dd><a href="#">Donate</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="#">Information Privacy</a></li>
        <li class="last"><a href="#">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>Personal Privacy</h1>
    </div>
</header>
</body>
</html>