<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Waste</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/what.css">

    <script>

        //DEVICE DATA

        //List of devices
        devices = [
            //PHONE

            {
                name: "phone",
                src: "../assets/images/Smartphone.png",
                components: [
                    {
                        name: "Camera",
                        src: "../assets/images/phone-camera.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Circuit board",
                        src: "../assets/images/phone-print-circuit-board.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Screen",
                        src: "../assets/images/phone-screen.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                ]
            },

            //Computer
            {

                name: "Computer",
                src: "../assets/images/picture-computer.jpg",
                components: [
                    {
                        name: "Mainboard",
                        src: "../assets/images/picture-mainboard.jpg",
                        qualities: [
                            {
                                title: "Hazardous", text: `The central processing unit in a computer contains toxic substances, and lead is found in circuit boards. Metal plates and housings may contain chromium, which is used to harden and protect metal plates from corrosion. Motherboards and connectors often contain beryllium. Cadmium is commonly found in chip resistors, semi-conductors, infrared detectors, stabilizers, cables and wires. Circuit boards, switches and relays contain mercury as well chromium. Brominated flame retardants are used in many components, including circuit boards and plastic casings.
                                        Highly possible to be a Carcinogenic substance. It would cause lung injury, kidney disease and brittle bones. If it enters human bodies, the bodies will have strong allergic reaction and asthmatic bronchitis, and even cause DNA damage.`
                            },
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Cpu",
                        src: "../assets/images/cpu.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Monitor",
                        src: "../assets/images/picture-monitor.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                ]
            },
            {
                name: "Printer",
                src: "../assets/images/printer1.jpg",
                components: [
                    {
                        name: "Ink",
                        src: "../assets/images/printer2.jpeg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Toner",
                        src: "../assets/images/printer3.jpg",
                        qualities: [
                            {title: "Hazardous", text: "Blah Blah Blah..."},
                            {title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },

                ]

            },
        ]


        function selectDevice(i) {
            document.getElementById("pleaseSelect").setAttribute("style", "visibility:hidden")
            document.getElementById("device").setAttribute("src", devices[i].src)


            var components = document.getElementById("components")
            components.innerHTML = ''
            var image
            devices[i].components.forEach(function (component) {

                image = document.createElement("img")
                image.setAttribute("class", "component")
                image.src = component.src
                image.onclick = selectComponent.bind(null, component)

                components.appendChild(image)
            })
        }

        function selectComponent(component) {
            var qualities = document.getElementById("qualities")
            qualities.innerHTML = ""
            var componentHeader = document.createElement("h1")
            componentHeader.innerText = component.name
            qualities.appendChild(componentHeader)

            component.qualities.forEach(function (quality) {


                var componentHeader = document.createElement("h1")
                qualityElement = document.createElement("div")
                qualityElement.setAttribute("class", "card")

                var textElement = document.createElement("p")
                textElement.innerText = quality.text
                var titleElement = document.createElement("h1")
                titleElement.innerText = quality.title

                qualityElement.appendChild(titleElement)
                qualityElement.appendChild(textElement)

                qualities.appendChild(qualityElement)
            })
        }


    </script>

</head>

<body>

<script src=layout.js></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>What</h1>
    </div>
</header>


<div class="row">

    <div class="leftcolumn">
        <aside>
            <ul>
                <li><a class=device onclick=selectDevice(0)>Computer</a></li>
                <li><a class=device onclick=selectDevice(1)>Phones</a></li>
                <li><a class=device onclick=selectDevice(2)>Printer</a></li>
            </ul>
        </aside>
    </div>

    <div class="midcolumn">
        <h1 id=pleaseSelect>SELECT A DEVICE</h1>

        <div class="inline">
            <img id="device" src="">
        </div>
        <div id=components class="inline">

            <!-- Component images will be placed here by javascript-->
        </div>
    </div>


    <div id=qualities class=rightcolumn>
        <!-- Component details will be placed here by javascript-->

    </div>

</div>

</body>
</html>
