<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Waste</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/what.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
    <script>

        //DEVICE DATA

        //List of devices
        devices = [
            //PHONE
            {
                name: "phone",
                src: "../assets/images/phone.png",
                components: [
                    {
                        name: "Tantalum",
                        src: "assets/images/tantalum.png",
                        qualities: [
                            {title: "Rare", text: "Tantalum is a rare element that appears in all phones, so rare in fact that it contributes to war in the Democratic Republic of Congo."}
                        ]
                    },
                    {
                        name: "Battery",
                        src: "../assets/images/phone_batteries.png",
                        qualities: [
                            {title: "Hazardous", text: "The lithium-ion and nickel-metal hydride batteries contain heavy metals such as cobalt, zinc, and copper." +
                                " Many of these chemicals are Persistent Bioaccumulative Toxins (PBTs) and have the potential to be released into the air and groundwater when burned in incinerators or disposed of in landfills, thus creating unnecessary threats to human health and the environment."},
                            //{title: "Expensive", text: "Cobalt Price: 40.26 USD/lb\n" + "Zinc Price: 1.42 USD/lb\n" + "Copper Price: 3.08 USD/lb"},
                        ]
                    },
                    {
                        name: "Circuit board",
                        src: "../assets/images/circuit-board.png",
                        qualities: [
                            {title: "Hazardous", text: "Circuitry made mostly of copper is soldered to the board with protective coatings and adhesives. The board is made of epoxy resin or fibreglass and generally coated with gold plating." +
                                " Other precious metals and hazardous substances in the PCB are arsenic (in chips made from gallium arsenide), antimony, beryllium, brominated flame retardants, cadmium, lead(used in the solder that joins the parts), nickel, palladium, silver, tantalum and zinc." +
                                " The lead and brominated flame retardants have the highest environmental impact due to their levels of toxicity and persistence in the environment."},
                            //{title: "Expensive", text: "Nickel Price: 6.34 USD/lb\n" + "Silver Price: 523 USD/kg\n" + "Zinc Price: 1.42 USD/lb"},
                        ]
                    },
                    {
                        name: "Screen",
                        src: "../assets/images/Screen.png",
                        qualities: [
                            {title: "Hazardous", text: "The Liquid Crystal Display as the name suggests contains liquid crystals which are embedded between layers of glass for illumination with transistors for an electric charge. The liquid crystalline substances can contain toxic substances such as mercury." +
                                " Foil display systems are now under development which would make LCD’s much more environmentally friendly, especially in small products."},
                            //{title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                ]
            },

            //Computer
            {

                name: "Computer",
                src: "../assets/images/computer.png",
                components: [
                    {
                        name: "Mainboard",
                        src: "../assets/images/motherboard.png",
                        qualities: [
                            {
                                title: "Hazardous", text: "Motherboards and connectors often contain beryllium. Cadmium is commonly found in chip resistors, semi-conductors, infrared detectors, stabilizers, cables and wires. " +
                                "Circuit boards, switches and relays contain mercury as well chromium. Brominated flame retardants are used in many components, including circuit boards and plastic casings. Highly possible to be a Carcinogenic substance. " +
                                "It would cause lung injury, kidney disease and brittle bones. If it enters human bodies, the bodies will have strong allergic reaction and asthmatic bronchitis, and even cause DNA damage."
                            },
                            //{title: "Expensive", text: "Cadmium Price: 0.6 USD/kg\n" + "Mercury Price: 0.3 USD/kg\n" + "Chromium Price: 2.80 USD/kg"},
                        ]
                    },
                    {
                        name: "Cpu",
                        src: "../assets/images/cpu.png",
                        qualities: [
                            {title: "Hazardous", text: "The central processing unit in a computer contains toxic substances, " +
                                "and lead is found in circuit boards. Metal plates and housings may contain chromium, which is used to harden and protect metal plates from corrosion. "},
                            //{title: "Expensive", text: "Chromium Price: 2.80 USD/kg\n" + "Lead Price: 1.06 USD/lb"},
                        ]
                    },
                    {
                        name: "Monitor",
                        src: "../assets/images/picture-monitor.png",
                        qualities: [
                            {title: "Hazardous", text: "Older cathode-ray tube monitors may contain up to eight pounds of lead. Newer LCD and flat-panel monitors typically don't have this much lead, but they do contain some and copper, too. " +
                                " The lamp used to illuminate the screen is likely to contain mercury, and the coating inside the screen may be made from cadmium. Brominated flame retardants are commonly found in many monitor components."},
                            //{title: "Expensive", text: "Copper Price: 3.08 USD/lb\n" + "Mercury Price: 0.3 USD/kg\n" + "Cadmium Price: 0.6 USD/kg"},
                        ]
                    },
                ]
            },
            // Printer
            {
                name: "Printer",
                src: "../assets/images/printer.png",
                components: [
                    {
                        name: "Ink",
                        src: "../assets/images/printer3.png",
                        qualities: [
                            {title: "Hazardous", text: "The primary ingredients in most printer inks are water, ethylene glycol and alcohol. Printer ink is about as safe as dish washing soap. Drinking it can make you sick, but it is not life threatening." +
                                " If you have questions about the toxicity of a particular brand of ink, all companies publish Material Safety Data Sheets for their products. These are usually available on their websites and they will tell you what the ink contains." +
                                " Inks used in commercial printing processes however, may contain toxic metals."},
                            //{title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },
                    {
                        name: "Toner",
                        src: "../assets/images/toner.png",
                        qualities: [
                            {title: "Hazardous", text: "Laser printers use toner, a powdery substance made of electrostatically sensitive plastic particles and pigment. Some toners also contain small amounts of iron. Like printer ink, toner is generally considered non-toxic," +
                                "though it is certainly not edible. As with inkjet inks, laser toner ingredients vary by manufacturer. Check the published Material Safety Data Sheets for specifics. While the toner itself may not be toxic, the printing process," +
                                "which involves melting the toner onto the page can release ultra-fine particles made of volatile organic-chemical substances (VOCs). While VOCs, which are often present in paints, cleaning supplies, glues and pesticides can be toxic, laser printers emit them at very low levels."},
                            //{title: "Expensive", text: "Blah Blah Blah..."},
                        ]
                    },

                ]

            },
        ]


        function selectDevice(i) {

            for(var x = 0; x < 3;x++){
                            document.getElementById("button" + x).classList.remove("selected")
            }
            document.getElementById("button" + i).classList.add("selected")

            document.getElementById("pleaseSelect").setAttribute("style", "visibility:hidden")
            document.getElementById("device").setAttribute("src", devices[i].src)


            var components = document.getElementById("components")
            components.innerHTML = ''
            var image
            devices[i].components.forEach(function (component) {

                image = document.createElement("img")
                image.setAttribute("class", "component")
                image.src = component.src
                image.onclick = selectComponent.bind(null, component)

                components.appendChild(image)
            })

            //Tell user to select a component
            var qualities = document.getElementById("qualities")
            info = document.createElement("h2")
            info.innerHTML = "Please Select A Component"
            qualities.innerHTML = ""
            qualities.appendChild(info)

        }

        function selectComponent(component) {
            var qualities = document.getElementById("qualities")
            qualities.innerHTML = ""
            var componentHeader = document.createElement("h1")
            componentHeader.innerText = component.name
            qualities.appendChild(componentHeader)

            component.qualities.forEach(function (quality) {


                var componentHeader = document.createElement("h1")
                qualityElement = document.createElement("div")
                qualityElement.setAttribute("class", "card")

                var textElement = document.createElement("p")
                textElement.innerText = quality.text
                var titleElement = document.createElement("h1")
                titleElement.innerText = quality.title

                qualityElement.appendChild(titleElement)
                qualityElement.appendChild(textElement)

                qualities.appendChild(qualityElement)
            })
        }


    </script>

</head>

<body>

<script src=nav.js></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>What is in Your Electronic Devices</h1>
    </div>
</header>


<div>

    <div class="leftcolumn">
            <ul>
                <li><a id = "button1" class=device onclick=selectDevice(1)>Computer</a></li>
                <li><a id = "button0" class=device onclick=selectDevice(0)>Phones</a></li>
                <li><a id = "button2" class=device onclick=selectDevice(2)>Printer</a></li>
            </ul>
    </div>

    <div class="midcolumn">
        <h1 id=pleaseSelect>SELECT A DEVICE</h1>

        <div class="inline">
            <img id="device" src="">
        </div>
        <div id=components class="inline">

            <!-- Component images will be placed here by javascript-->
        </div>
    </div>


    <div id=qualities class=rightcolumn>
        <!-- Component details will be placed here by javascript-->

    </div>

</div>

</body>
</html>
