<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where can recycle</title>
    <link rel = "stylesheet" href="../styles/style.css">
    <link rel = "stylesheet" href="../styles/where.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
</head>
<body>

<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>Where to recycle</h1>
    </div>
</header>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Map</h2>
            <div id="map" style="width:100%;height:600px;"></div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Your Suburb: </h2>
            <input id = suburb type="text">
            <h2>Or your post number</h2>
            <input id = postcode type="number" maxlength="6">
            <button type="button" onclick = searchPostCode()>Go and Check</button>
        </div>
        <div class="card">
            <h3>The nearest recycling location:</h3>

        </div>
        <div class="card">
            <h3></h3>
            <p>Found One Not In Our Database? Help Us Out</p>
            <button type="button" class="ADD">ADD</button>
        </div>
    </div>
</div>

<script>
    var map
    function myMap() {

        var binLocations = [

            //EXAMPLE DATA
            [-37.7967896,144.9581293],
            [-37.7967896,144.9681293],
            [-37.7967896,144.9781293],
            [-37.7967896,144.9881293],
        ]

        var mapOptions = {
            center: new google.maps.LatLng(-37.7967896,144.9581293),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.MAP
        };
        //Try and get users location
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                console.log("pan")
                //map.panTo(new google.maps.LatLng(position.coords.longitude, position.coords.latitude))
            })}



        binLocations.forEach(function(binLocation){
            new google.maps.Marker({
                position: new google.maps.LatLng(binLocation[0], binLocation[1]),
                map: map,
                icon: {
                    url: "../assets/images/bin.png",
                    scaledSize: new google.maps.Size(20, 20),
                     },
                title: 'Hello World!'
            });
        })

        //
        // var marker = new google.maps.Marker({
        //     position: new google.maps.LatLng(-37.7967896,144.9581293),
        //     map: map,
        //     icon: {
        //         url: "../assets/images/bin.png",
        //         scaledSize: new google.maps.Size(50, 50),
        //          },
        //     title: 'Hello World!'
        // });



    }
    function searchPostCode() {

        var address = document.getElementById("suburb")
        var postcode = document.getElementById("postcode")

        input = address.value + " " +  postcode.value


        console.log(input)
        geocoder = new google.maps.Geocoder()
        // geocoder.geocode("3191", new google.maps.LatLng(0, 0),)

        geocoder.geocode({'address': input}, function(results, status) {
            if (status === 'OK') {
                map.panTo(results[0].geometry.location)
                console.log(results[0].geometry.location)

                }
             else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAj832WWA8O7gZc0VPIuZ7Mv62ecnbzpo&callback=myMap"></script>
</body>

</html>
