<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Where can recycle</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/where.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media="screen">
</head>
<body>

<script src=nav.js></script>

<header id="head" class="secondary">
    <div class="container">
        <h1>Where to recycle</h1>
    </div>
</header>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Map</h2>
            <div id="map" style="width:100%;height:600px;"></div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Your Suburb: </h2>
            <input id=suburb type="text">
            <h2>Or your post number</h2>
            <input id=postcode type="number" maxlength="6">
            <button type="button" onclick=searchPostCode()>Go and Check</button>
        </div>
        <div class="card">
            <h3>The nearest recycling location:</h3>
            <h4 id = closest></h4>

        </div>
        <div class="card">
            <h3></h3>
            <p>Found One Not In Our Database? Help Us Out</p>
            <button><a type="button" class="ADD" href="./addBin.html">ADD</a></button>
        </div>
    </div>
</div>


<script src='../models/Bins.js'></script>

<script>

    //Google map object
    var map;
    var geocoder;

    //Called when google map API loads
    function myMap() {

        geocoder = new google.maps.Geocoder()



        var mapOptions = {
            center: new google.maps.LatLng(-37.7967896, 144.9581293),//Centre here if user's location not found
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.MAP
        };


        map = new google.maps.Map(document.getElementById("map"), mapOptions);


        //Try and get users location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {

                console.log("pan to ", position)
                //map.panTo(new google.maps.LatLng(position.coords.longitude, position.coords.latitude))
                map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude))
            })
        }

        //Load Bin locations from server then run callback
        Bins.loadList(function () {

            Bins.list.forEach(function (bin) {

                //Make a new marker on the map for each bin
                new google.maps.Marker({
                    position: new google.maps.LatLng(bin.location[0], bin.location[1]),
                    map: map,
                    icon: {
                        url: "../assets/images/bin.png",
                        scaledSize: new google.maps.Size(20, 20),
                    },
                    title: 'E-bin'
                });
            })
            getClosestBin()
        })
    }

    function searchPostCode() {


        //Get user input
        var address = document.getElementById("suburb")
        var postcode = document.getElementById("postcode")

        var input = address.value + " " + postcode.value



        geocoder.geocode({'address': input}, function (results, status) {
            if (status === 'OK') {

                //Pan to best result
                map.panTo(results[0].geometry.location);
                getClosestBin()

            }
            else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });


    }

    function getClosestBin() {

        var closest;
        Bins.list.forEach(function (bin) {
            var binLoc = new google.maps.LatLng(bin.location[0], bin.location[1]);
            var distance = google.maps.geometry.spherical.computeDistanceBetween(binLoc, map.getCenter())

            if (!closest || closest.dist > distance) {
                closest = {loc: binLoc, dist: distance}
            }
        });
        geocoder.geocode({'location': closest.loc}, function (results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    document.getElementById("closest").innerText = results[0].formatted_address
                     console.log(results[0])


                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        })
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAj832WWA8O7gZc0VPIuZ7Mv62ecnbzpo&libraries=geometry&callback=myMap"></script>

</body>

</html>
