<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-for-head.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.css" media = "screen">
</head>
<script src = nav.js></script>


<header id="head" class="secondary">
    <div class="container">
        <h1>Why recycle?</h1>
    </div>
</header>
<body class=page>
<div class = whypage>
    <div class=top>
        <div class=left>
            <h1>Sustainability</h1>
            <p>The world’s resources are finite, but our consumption of it is not. Electronic devices are full of many rare metals like gold, neodymium, tantalum, terbium, europium. The world throws millions upon millions of phones, computers and other electronic devices into rubbish tips every year, replacing them with millions more. This waste is raising the prices of some of these metals and drawing close to stripping them from the earth completely
            </p>
        </div>
        <div class=right>
            <div class=frame>
                <img src=../assets/images/whyPicture1.png>
            </div>
        </div>

    </div>

    <div class=top>
        <div class=left>
            <div class=frame>
                <img src=../assets/images/whyPicture2.png>
            </div>
        </div>
        <div class=right>
            <h1>Environment</h1>

            <p>
                According to the United Nations Environment Program, 41 million tons of electronic waste was discarded in 2015. This waste causes a multitude of effects on the environment. Along with the well known effects of waste in general, e-waste poisons crops, releases greenhouse gases into the air and causes fires and explosions.
            </p>
        </div>

    </div>
    <div class=top>
        <div class=left>
            <h1>Profit</h1>

            <p>Many people are spending $1000’s of dollars on phones, televisions, printers, gps’s and gaming devices every year. Meanwhile others are throwing out the very same devices. Use our donations feature to search for people no longer using their devices before you go and buy and you called save yourself a lot of money.
            </p>
        </div>
        <div class=right>
            <div class=frame>
                <img src=../assets/images/whyPicture3.png>
            </div>
        </div>
    </div>
    <div class=top>
        <div class=left>
            <div class=frame>
                <img src=../assets/images/whyPicture4.png>
            </div>
        </div>
        <div class=right>
            <h1>Safety</h1>

            <p>Metals like mercury, lithium and lead, found in phones that are improperly disposed leak into soil and reach underground water sources. Many local communities in developing countries end up ingesting these metals, leading to poisoning.
            </p>
        </div>
    </div>
</div>

</body>
</html>
