<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<div class="header">
    <!-- Button for smallest screens -->
    <h1>E-RECYCLING</h1></a>
</div>

<nav>
    <ul class="clear">
        <!--li class="first"><a href="#">Home</a></li> _fcksavedurl=""#">Haha</a></li-->"
        <li>
            <span class="Darrow"></span>
            <a href="./What.html">What</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="./What.html">Computer</a></dd>
                <dd><a href="./Phones.html">Phone</a></dd>
                <dd><a href="#">Printer</a></dd>
            </dl>
        </li>
        <li><a href="./why.html">Why</a></li>
        <li>
            <a href="./Where.html">Where</a>
        </li>
        <li>
            <span class="Darrow"></span>
            <a href="./how.html">How</a>
            <dl>
                <dt><span class="arrow"></span></dt>
                <dd><a href="#">Pick up</a></dd>
                <dd><a href="#">Give it away</a></dd>
                <dd><a href="#">Recycling</a></dd>
            </dl>
        </li>
        <li><a href="#">Pickup Service</a></li>
        <li><a href="./Personal_privacy.html">Information Privacy</a></li>
        <li class="last"><a href="./Login.html">Login/Account</a></li>
    </ul>
</nav>

<header id="head" class="secondary">
    <div class="container">
        <h1>Why recycling</h1>
    </div>
</header>
<body class=page>
<div>
    <div class=top>
        <div class=left>
            <h1>Sustainability</h1>
            <p>Importance of recycling electronics with regards to sustainability-
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali
            </p>
        </div>
        <div class=right>
            <div class=frame>
                <img src=../assets/images/Picture1.png>
            </div>
        </div>

    </div>

    <div class=top>
        <div class=left>
            <div class=frame>
                <img src=../assets/images/Picture2.png>
            </div>
        </div>
        <div class=right>
            <h1>Environment</h1>

            <p>
                Importance of recycling electronics with regards to the environment-
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia
            </p>
        </div>

    </div>
    <div class=top>
        <div class=left>
            <h1>Profit</h1>

            <p>Importance of recycling electronics with regards to Profit- Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam,
                quis nostrud exercitation ullamco laboris nisi ut ali</p>
        </div>
        <div class=right>
            <div class=frame>
                <img src=../assets/images/Picture3.png>
            </div>
        </div>
    </div>
    <div class=top>
        <div class=left>
            <div class=frame>
                <img src=../assets/images/Picture4.png>
            </div>
        </div>
        <div class=right>
            <h1>Safety</h1>

            <p>Importance of recycling electronics with regards to Safety- exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
        </div>
    </div>
</div>

</body>
</html>
