ul p{font-style: italic}
body {padding:50px}
li a.inactive {color: red}
div.layout.menu {background-color: lightgrey}
div.frame{float: inherit; background-color: orange; border: solid black 5px; border-radius: 25px; padding-left: 25px; padding-right :25px}

a.selected {background-color: #00B7FF}

/*Why page*/
div.top {height: 400px; }
div.left {width: 50%; height: 100%; float:left}
div.right {width: 50%; height: 100%; float:right}
div.frame img {display: block; width :400px;}
div.left h1 {text-align: center}
div.right h1{text-align: center}



table.full {width: 100%; height: 100%}
td {width: 14%}
td.active {background-color: orange}


/*How page*/
button.how {width: 50px; height: 50px; border-radius: 50px}
div.centre { margin: auto}
div.small {width: 50px}
div.large {width : 435px}

div.popup {position: absolute; width: 500px; height: 500px; left: 300px; background-color: blue; border-radius: 10px}
div.hidden {visibility: hidden;}
div.green{background-color: green}
div.orange{background-color: orange}
div.blue {background-color: blue}

button.close {width: 50px; height: 50px; border-radius: 50px; background: url("../assets/images/close.png"); background-size: 50px}

nav.navbar-header{
    color: cornflowerblue;
}

body {
    padding: 50px;
    background: #f1f1f1;
}

/* Header/Blog Title */

/*
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}*/

/*login*/
fieldset {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select {
    width: 450%;
    padding: 12px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 450%;
    padding: 12px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4c6aaf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button] {
    width: 100%;
    background-color: #4c6aaf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

*{
    margin:0;
    padding:0;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

nav{
    display:inline-block;
    border:1px solid #505255;
    border-bottom: 1px solid #282C2F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    width: auto;
}
nav li{
    list-style:none;
    float:left;
    border-right: 1px solid #2E3235;
    position: relative;
    /*background: -moz-linear-gradient(top, #fff, #555D5F 2% ,#555D5F 50%,#3E4245 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #555D5F), color-stop(50%, #555D5F),to(#3E4245));*/
    background:#555D5F;
}


nav li:hover{
    /*background: -moz-linear-gradient(top, #fff, #3E4245 2% ,#555D5F 80%,#555D5F 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(2%, #3E4245), color-stop(80%, #3E4245),to(#555D5F));*/
    background:#3E4245;
    -moz-transition: background 1s ease-out;
    -webkit-transition: background 1s ease-out;
}

nav li a{
    display:block;
    height:40px;
    line-height:40px;
    padding:0 30px;
    font-size:12px;
    color:#fff;
    text-shadow: 0px -1px 0px #000;
    text-decoration:none;
    white-space:nowrap;
    border-left: 1px solid #999E9F;
    border-top: 1px solid #999E9F;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    z-index:100;
}
nav li > a{
    position:relative;
}

nav ul{
    width: auto;
}
nav li.first a{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
nav li.last{
    border-right: 0 none;
}
nav dl{
    position:absolute;
    display:block;
    top:40px;
    left: -25px;
    width:165px;
    background:#222222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow:1px 1px 3px #292929;
    -moz-box-shadow:1px 1px 3px #292929;
    z-index:10;
}
nav li:hover dl{
    top:50px;
    display:block;
    width:145px;
    padding:10px;
}
nav dl a{
    background:transparent;
    border:0 none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
    z-index:50;
}
nav dl a:hover{
    color:#FFF;
    background:#999E9F;
    -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav dd{
    margin-top:-40px;
    opacity:0;
    width:145px;
    -webkit-transition-property:all;
    /*-webkit-transition-timing-function: cubic-bezier(5,0,5,0);*/
    -moz-transition-property: all;
    /*-moz-transition-timing-function: cubic-bezier(5,0,5,0);*/
    /*-webkit-transition-delay:5s;
    -moz-transition-delay:5s;*/
}
nav li:hover dd{
    margin-top:0;
    opacity:1;
}
nav li dd:nth-child(1){
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}
nav li dd:nth-child(2){
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}
nav li dd:nth-child(3){
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
}
nav li dd:nth-child(4){
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
nav dt{
    display:none;
    margin-top:-25px;
    padding-top:15px;
    height:10px;
}
nav li:hover dt{
    display:block;
}
.Darrow{
    float:right;
    margin:18px 10px 0 0;
    border-width:5px;
    border-color:#FFF transparent transparent transparent;
    border-style:solid;
    width:0;
    height:0;
    line-height:0;
    overflow:hidden;
    cursor:pointer;
    text-shadow: 0px -1px 0px #000;
    -webkit-box-shadow:0px -1px 0px #000;
    -moz-box-shadow:0px -1px 0px #000;
}
.arrow{
    margin:0 auto;
    margin-top:-5px;
    display:block;
    width:10px;
    height:10px;
    background:#222222;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

nav{
    dispaly: inline;
}
#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

#head.secondary {
    padding-top: 0px;
    background:#3d84e6;
    /*background: #3d84e6;*/
    background-size: cover;
    text-align: center;
    padding:10px 0;
    height: 140px;
}
#head.secondary h1{
    COLOR: #fff;
    text-align: center;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
}

aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
aside li a:hover {
    background-color: #555;
    color: white;
}

aside ul{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

fieldset table{
    display:table;
    margin:0px auto;
}



/*nav*/
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.89);
}
.navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400 !important;
}
.navbar-inverse .navbar-brand img {
    width: 171px;
}

.navbar-inverse {
    background: #fff;
    margin: 0 auto;
}
.navbar-inverse {
    border: none;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    color: #B8B8B8;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a{
    background: #3d84e6;
    color: #fff !important;
    border-radius: 0px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    text-align: left;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover{
    color: #fff !important;
    border-radius: 0px;
    background: #3d84e6;
}

nav#filter {
    margin-bottom: 1.5em;
}
nav#filter li {
    display: inline-block;
    margin: 10px;
}
nav#filter a {
    padding: 4px 12px;
    line-height: 20px;
    border: 1px solid #3d84e6;
    text-decoration: none;
    color: #3d84e6;
    border-left: 0px;
    border-right: 0px;
}
nav#filter a.current {
    background: #3d84e6;
    color: #fff;
}

@media (max-width: 767px) {
    .navbar-collapse ul {
        text-align: right;
        margin-right: 0px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #head.secondary {
        height: 157px !important;
    }

    #camera_wrap_4, #head {
        height: 480px !important;
    }

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        font-size: 13px;
    }

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        text-align: right;
    }
}

#device{
    width: 400px;
}

.component{
    width: 200px;
}


/*
.component{
    max-width: 200px;
    width:expression(document.body.clientWidth>200?"200px":"auto");
    max-height:200px;
    height:expression(document.body.clientHeight>200?"200px":"auto");
    overflow:hidden;
    margin:0 auto;
    display:block;
}

#computer img{
    max-width: 620px;
    width:expression(document.body.clientWidth>400?"620px":"auto");
    max-height:300px;
    height:expression(document.body.clientHeight>200?"300px":"auto");
    overflow:hidden;
    margin:0 auto;
    display:block;
}
*/