* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 50px;
    background: #f1f1f1;
}

.midcolumn {
    float: left;
    width: 53%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.leftcolumn {
    float: left;
    width: 17%;
}

.rightcolumn {
    float: left;
    padding-left:20px;
    width: 30%;
}

.inline{
    display: inline;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.leftcolumn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.leftcolumn li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.leftcolumn li a:hover {
    background-color: #555;
    color: white;
}